.git
.github

# Sonarr build artifacts
Sonarr/_output/
Sonarr/_tests/
Sonarr/_temp/
Sonarr/src/**/bin/
Sonarr/src/**/obj/
Sonarr/frontend/node_modules/
Sonarr/.git/
Sonarr/schemas/
Sonarr/docker/
Sonarr/distribution/
Sonarr/scripts/
